# @see https://git-scm.com/docs/gitignore/

# Folders.
.DS_Store/
/.build/
/.git/
/.vs/
/.vscode/
/bin/
/cache/
/log/
/node_modules/
/obj/

# Files.
.DS_Store
.env*
*.csproj.user
*~

# Application specific.
bison_parser.c
bison_parser.h
flex_scanner.c
flex_scanner.h

# Debug output
ast.dot
ast.png
